.widget-blog-wrapper {
	.list-post {
		.list-category-post-on {
			padding-top: 25px;
		}

		.link-more {
			margin-top: 15px;
		}

		.boostify-grid-item {
			margin-bottom: 60px;
		}
	}

	.blog-pagination {
		clear: both;
		text-align: center;
	}

	.btn-load-more {
		@include flex( inline-flex );
		min-width: 145px;
		height: 50px;
		background-color: $color__background-button;
		font-size: 12px;
		text-transform: uppercase;
		font-family: 'Poppins SemiBold';
		color: #fff;
		position: relative;
		padding: 5px 35px;

		&.loading {
			&:after {
				border: 2px solid #f3f3f3; /* Light grey */
				border-top: 2px solid #007cba; /* Blue */
				border-radius: 50%;
				width: 20px;
				height: 20px;
				-webkit-animation: loadmore 0.5s linear infinite;
				animation: loadmore 0.5s linear infinite;
				content: '';
				z-index: 10;
				display: block;
				margin-left: 10px;
			}
		}
	}

	&.swiper-container-horizontal > .swiper-pagination-bullets {
		position: static;
		@include flex();

		.swiper-pagination-bullet {
			margin: 0 4px;
			opacity: 1;

			&.swiper-pagination-bullet-active {
				width: 10px;
				height: 10px;
			}
		}
	}
}

@-webkit-keyframes loadmore {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes loadmore {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.blog-box {

	.blog .blog-detail {
		background-color: #262626;
		padding-bottom: 20px;
		text-align: left;
	}

	.list-category-post-on {
		display: none;
	}

	.blog {
		.entry-title {
			margin: 0 0 5px;
			padding-top: 30px;
			text-align: left;
			justify-content: flex-start;
		}
	}
}


.boostify-video-blog {
	.elementor-custom-embed-play {
		i:before {
			content: url("assets/images/icon-play.png");
		}
	}
}