// Backgrounds
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6183f;
$color__background-button-hover: #e31246;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-selection: #fc799a;

// Text
$color__text-body: #434343;
$color__text-heading: #1c1c1c;
$color__text-screen: #21759b;
$color__text-input: #6d6d6d;
$color__text-input-focus: #1f3d70;
$color__secondary: #e6183f;

// Links
$color__link: #6d6d6d;
$color__link-visited: #6d6d6d;
$color__link-hover: #000;

// Borders
$color__border-button: #e6183f;
$color__border-input: #e0e0e0;
$color__border-abbr: #666;