//colors
$tr: rgba( 0, 0, 0, 0 );
$inh: inherit;
$ini: initial;

//font
$ion: "Ionicons";
$awe: 'FontAwesome';


$i: unquote( '!important' );

$font__body: 'Poppins Regular', sans-serif;
$font__heading: 'Playfair Display', sans-serif;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font-travel: "travelcations" !default;
$icomoon-font-path: "fonts/travelcations" !default;

$font__size-xxs: 0.79rem;
$font__size-xs: 0.889rem;
$font__size-sm: 1rem;
$font__size-md: 1.125rem;
$font__size-lg: 1.266rem;
$font__size-xl: 1.424rem;
$font__size-xxl: 1.602rem;
$font__size-xxxl: 1.802rem;

$font__line-height-body: 1.5;
$font__line-height-heading: 1.2;
$font__line-height-pre: 1.6;



$icon-travelcations-menu: "\e91b";
$icon-travelcations-search: "\e91c";
$icon-travelcations-instagram: "\e900";
$icon-travelcations-issue: "\e901";
$icon-travelcations-location: "\e902";
$icon-travelcations-map: "\e903";
$icon-travelcations-mouse: "\e904";
$icon-travelcations-play: "\e905";
$icon-travelcations-security: "\e906";
$icon-travelcations-star: "\e907";
$icon-travelcations-star-b: "\e908";
$icon-travelcations-suitcase: "\e909";
$icon-travelcations-support: "\e90a";
$icon-travelcations-twitter: "\e90b";
$icon-travelcations-user: "\e90c";
$icon-travelcations-youtube: "\e90d";
$icon-travelcations-bookmark: "\e90e";
$icon-travelcations-call: "\e90f";
$icon-travelcations-certificate: "\e910";
$icon-travelcations-check: "\e911";
$icon-travelcations-clock: "\e912";
$icon-travelcations-combine: "\e913";
$icon-travelcations-comment: "\e914";
$icon-travelcations-contrast: "\e915";
$icon-travelcations-delete: "\e916";
$icon-travelcations-facebook: "\e917";
$icon-travelcations-flag: "\e918";
$icon-travelcations-global: "\e919";
$icon-travelcations-info: "\e91a";